@import "tailwindcss";
@plugin "daisyui";

@theme {
  /* This tells Tailwind to use the 'dark' class on the html element */
  --dark-mode: class; 
}
@custom-variant dark (&:where(.dark, .dark *));
.input {
    @apply w-full bg-white/5 border border-white/20 rounded-lg px-4 py-2 text-white
    focus:outline-none focus:ring-2 focus:ring-yellow-400;
  }
  